:root {
    --main-color: rgba(0, 0, 0, 0.85);
    --dark-bg-font-color: rgb(238, 235, 228);
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    grid-template-areas: "sidebar header"
                         "sidebar content";
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: sidebar; 
    background: var(--main-color);
}

.header {
    background: white;
}

.content {
    background: rgb(235, 235, 235);
}

h1 {
    color: var(--dark-bg-font-color);
}

.sidebar path {
    fill: var(--dark-bg-font-color);
}

.sidebar {
    display: grid;
    grid-template-rows: 100px repeat(9, min-content);
    gap: 10px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.sidebar > div > h2 > a {
    text-decoration: none;
    color: var(--dark-bg-font-color);
}

.sidebar > div > h2 > a:hover {
    color: grey;
}

